<% layout('layouts/boilerplate') %>

<body>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="mb-4">Error</h3>
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
            <a href="/listing" class="btn btn-secondary">Back to Listings</a>
        </div>
    </div>
</body>